<!DOCTYPE html>
<html lang="en">
<head>
    <link id="pagestyle" href="/assets/css/material-dashboard.css?v=3.0.2" rel="stylesheet" />
    <link href="/assets/css/all.min.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <style>
     </style>
</head>
<body>
    <section class="container" id="event-timeline">
        <div class="row mt-3">
            <div class="col-2">
                <img src="/assets/img/event-img1.png" alt="" class="mt-5 pt-5 ms-1">
            </div>
            <div class="col-2">
                <h6><small>START SCAN</small></h6>
                <h6><small>2020-07-03<br>19:12:22</small></h6>
                <div class="ms-4 p-3" style="border-left: 3px dotted orange;"></div>
            </div>
            <div class="col-2">
                <img src="/assets/img/event-img2.png" alt="" class="mt-5 pt-5 ms-2">
            </div>
            <div class="col-2">
                <h6><small>COMMAND SENT</small></h6>
                <h6><small>2020-07-03<br>19:12:51</small></h6>
                <div class="ms-4 p-3" style="border-left: 3px dotted orange;"></div>
            </div>
            <div class="col-2 mt-1">
                <img src="/assets/img/event-img3.png" alt="" class="mt-5 pt-5">
            </div>
            <div class="col-2">
                <h6><small>TRANSFER COMPLETED</small></h6>
                <h6><small>2020-07-03<br>19:14:05</small></h6>
                <div class="ms-4 p-3" style="border-left: 3px dotted orange;"></div>
            </div>   
        </div>
        <div class="p-1 bg-secondary" style="border: 1px solid gray;border-radius: 5px;"></div>
        <div class="row mt-3">
            <div class="col-2">
                <div class="ms-4 p-3" style="border-left: 3px dotted orange;"></div>
                <h6><small>EVENT TRIGGERED</small></h6>
                <h6><small>2020-07-03<br>19:12:22</small></h6>
            </div>
            <div class="col-2">
                <img src="/assets/img/event-img4.png" alt="" class="">
            </div>
            <div class="col-2">
                <div class="ms-4 p-3" style="border-left: 3px dotted orange;"></div>
                <h6><small>DEVICE PAIRED</small></h6>
                <h6><small>2020-07-03<br>19:12:42</small></h6>
            </div>
            <div class="col-2">
                <img src="/assets/img/event-img5.png" alt="" class="ms-2">
            </div>
            <div class="col-2">
                <div class="ms-4 p-3" style="border-left: 3px dotted orange;"></div>
                <h6><small>TRANSFER STARTED</small></h6>
                <h6><small>2020-07-03<br>19:12:50</small></h6>
            </div>   
            <div class="col-2">
                <img src="/assets/img/event-img6.png" alt="" class="">
            </div>
        </div>
    </section>
</body>
</html>    